{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Cette page affichera le descriptif de l'entreprise ayant pour identifiant {{idEntreprise}} ainsi que les stages qu'elle propose</h1>
<div class="card" style="width: 50rem;">
  <img src="..." class="card-img-top" alt="Image entreprise">
  <div class="card-body">
    <h5 class="card-title">Nom entreprise</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
{% endblock %}
