{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Cette page affichera la liste des formations de l'IUT</h1>

<!-- On cells (`td` or `th`) -->
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row"">
      <a class="nav-link" href="{{path('prostages_formationId',{id:537})}}">Stage 537</a>
      </td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">
      <a class="nav-link" href="{{path('prostages_formationId',{id:8})}}">Stage 8</a>
      </td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">
      <a class="nav-link" href="{{path('prostages_formationId',{id:1001})}}">Stage 1001</a>
      </td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">
      <a class="nav-link" href="{{path('prostages_formationId',{id:5890})}}">Stage 5890</a>
      </td>
      <td class="table-light">Courte description</td>
    </tr>
  </tbody>
</table>
{% endblock %}
