{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Cette page affichera la liste des formations de l'IUT</h1>
<!-- On tables -->


<!-- On rows -->
<tr>...</tr>

<!-- On cells (`td` or `th`) -->
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row"">Nom Formation</td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">Nom Formation</td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">Nom Formation</td>
      <td class="table-light">Courte description</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">Nom Formation</td>
      <td class="table-light">Courte description</td>
    </tr>
  </tbody>
</table>
{% endblock %}
