{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{idStage}}</h1>
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Nom stage</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Intitulé</li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Date début</li>
    <li class="list-group-item">Durée</li>
    <li class="list-group-item">Compétences requises</li>
    <li class="list-group-item">Expérience réquise</li>
    <li class="list-group-item">Entreprise</li>
    <li class="list-group-item">Formation</li>
  </ul>
</div>
{% endblock %}
